<<<<<<< HEAD
.btn {
	max-width: 260px;
	margin: 0.25rem;
=======
header {
	min-height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.paragraph-light {
	font-weight: 500;
	margin: auto;
	text-align: center;
	margin-bottom: 2%;
}

.title1-light {
	margin-bottom: 2rem;
>>>>>>> 774aabdf19578936b16ed81c462462e2161c7b5e
}


footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: baseline;
}

.footer-text {
	margin-bottom: 0%;
	line-height: 1.6;
}


#upload-button {
<<<<<<< HEAD
	display: none;
=======
	margin: 2%
}

#upload-button:disabled {
	background-color: #e9ecef;
	color: black;

}


#upload-label {
	margin: 5%;
	display: none;

}

#collection-label {
	margin: 5%;
	display: none;
	
>>>>>>> 774aabdf19578936b16ed81c462462e2161c7b5e
}

.image-area {
	border-style: dashed;
	border-width: 2px;
	border-color: #fff;
	width: 100%;
	transition: all 0.2s ease;
	border-radius: 0.25rem;
	padding: 20%;
	color: #fff;
}

<<<<<<< HEAD
.image-area:hover{
	background-color: rgba(173, 173, 173, 0.1);
=======
.image-area:hover {
	background-color: rgb(117, 117, 117);
>>>>>>> 774aabdf19578936b16ed81c462462e2161c7b5e
	color: #d32f2f;
	cursor: pointer;
	border-color: #d32f2f;
}

.section-space {
	margin: 2%;
}

input[type=file] {
	display: none;
}

.upload-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-form {
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}